@model IEnumerable<KernelTravelGuides.Models.TouriestSpots>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.t_spot_name)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.t_spot_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_spot_img1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_spot_img2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_spot_img3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.t_spot_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.t_spot_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.t_spot_rating)
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.t_spot_img1)*@
                    <a href="@("images/touriestspotsimg/" + item.t_spot_img1)" target="_blank">
                        <img src="@("~/images/touriestspotsimg/" + item.t_spot_img1)" asp-append-version="true" width="44px" />
                    </a>
            </td>
            <td>
               @* @Html.DisplayFor(modelItem => item.t_spot_img2)*@
                    <a href="@("images/touriestspotsimg/" + item.t_spot_img2)" target="_blank">
                        <img src="@("~/images/touriestspotsimg/" + item.t_spot_img2)" asp-append-version="true" width="44px" />
                    </a>
            </td>
            <td>
              @*  @Html.DisplayFor(modelItem => item.t_spot_img3)*@
                    <a href="@("images/touriestspotsimg/" + item.t_spot_img3)" target="_blank">
                        <img src="@("~/images/touriestspotsimg/" + item.t_spot_img3)" asp-append-version="true" width="44px" />
                    </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.t_spot_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.t_spot_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.t_spot_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.t_spot_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
