@model KernelTravelGuides.Models.Hotel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Hotels Details</h1>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-img">

                        <img src="@("~/images/hotelimg/" + Model.hotel_image)" asp-append-version="true" style="width: 100%;" />

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">

                    <div class="card-body">
                        <h2 class="mt-0 header-title">More Info about    @Html.DisplayFor(model => model.hotel_name)</h2>

                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.hotel_name)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.hotel_name)
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.hotel_rating)
                            </dt>
                            <dd class="col-sm-8">
                                @if (Model.hotel_rating == 5)
                                {
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                }
                                else if (Model.hotel_rating == 4)
                                {
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                }
                                else if (Model.hotel_rating == 3)
                                {
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                }
                                else if (Model.hotel_rating == 2)
                                {
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                }
                                else
                                {
                                    <img src="~/frontend/images/png-clipart-star-star.png" asp-append-version="false" width="20px" />
                                }
                            </dd>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.hotel_average)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.hotel_average)
                            </dd>
                          
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.hotel_status)
                            </dt>

                            <dd class="col-sm-8">

                                @if (Model.hotel_status)
                                        {
                                            <span class="btn btn-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-danger">Unactive</span>

                                        }
                              

                            </dd>
                          
                        </dl>


                    </div>
                </div>

            </div>
        </div>



    </div>
</div><!-- end col -->
