@model KernelTravelGuides.Models.Restaurants

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Restaurants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurants_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurants_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurants_location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurants_location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurants_image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurants_image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurants_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurants_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.restaurants_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
