@model IEnumerable<KernelTravelGuides.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Countries</h1>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h4 class="mt-0 header-title">All Hotels</h4>

                        <div class="table-responsive">
                            <table class="table table-striped mb-0">
                              
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.country_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.country_image)
            </th>
           
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.country_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.country_code)
            </td>
            <td>
                    <a href="@("images/countryimg/" + item.country_image)" target="_blank">
                        <img src="@("~/images/countryimg/" + item.country_image)" asp-append-version="true" width="64px" />
                    </a>
            </td>
           
            <td>
                <button type="button" class="btn btn-sm btn-warning ">
                                                    <a asp-action="Edit" asp-route-id="@item.country_id" class="text-white ">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                </button>

                                                <button type="button" class="btn btn-sm btn-primary">
                                                    <a asp-action="Detail" asp-route-id="@item.country_id" class="text-white">
                                                        <i class="ion-android-book"></i>
                                                    </a>
                                                </button>
                                                <button type="button" class="btn btn-sm btn-danger">
                                                    <a asp-action="Delete" asp-route-id="@item.country_id" class="text-white ">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </button>
            </td>
        </tr>
}
    </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->

        </div><!-- end row -->
    </div>
</div>

