@model KernelTravelGuides.Models.City

@{
    ViewData["Title"] = "Details";
     Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>City Details</h1>
<div class="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <div class="card">
                    <div class="card-img">

                        <img src="@("~/images/cityimg/" + Model.city_image)" asp-append-version="true" style="width: 100%;" />
                    
                    </div>
                    </div>
            </div>

                    <div class="col-md-6">
                <div class="card">

                    <div class="card-body">
                        <h4 class="mt-0 header-title">More Info about    @Html.DisplayFor(model => model.city_name)</h4>

                        <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.city_name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.city_name)
                                    </dd>

                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.city_status)
                                    </dt>
                                    <dd class="col-sm-8">

                                        @if (Model.city_status)
                                        {
                                            <span class="btn btn-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="btn btn-danger">Unactive</span>

                                        }
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.country)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.country.country_name)
                                    </dd>

                                </dl>


                    </div>
                    </div>

                        </div>
                    </div>
                 

        
        </div>
    </div><!-- end col -->


