@model IEnumerable<KernelTravelGuides.Models.Transport>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.transport_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transport_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transport_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transport_rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transport_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.transport_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_at)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.transport_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transport_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transport_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transport_rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transport_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.transport_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.transport_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.transport_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.transport_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
